<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?8c7b8f9bbe0846adac18dba564196ad4";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
</head>
<body>
    <div class="wrap">
        <div class="head">
            <div class="head-box fl">
                <a href="/"><img src="/images/logo.png"></a>
                <span></span>
            </div>
            <div class="fl head-tit">计算机等级考试题库软件</div>
        </div>

        <div id="slideBox" class="slideBox">
            <div class="hd">
                <ul><li></li><li></li><li></li></ul>
            </div>
            <div class="bd">
                <ul>
                    <li><a href="http://www.izhixuetang.com/course/explore/practical_training?filter%5Btype%5D=all&filter%5Bprice%5D=all&filter%5BcurrentLevelId%5D=all&orderBy=recommendedSeq" target="_blank"><img src="images/toutu1.jpg" /></a></li>
                    <li><a href="https://detail.tmall.com/item.htm?spm=a1z10.3-b-s.w4011-16232114860.12.26057abeAdnXk6&id=548621738316&rn=807552ed3bf87679de0b1196df7fc0cd&abbucket=19" target="_blank"><img src="images/toutu2.jpg" /></a></li>
                    <li><a href="http://www.izhixuetang.com/open/course/2" target="_blank"><img src="images/toutu3.jpg" /></a></li>
                </ul>
            </div>
            <p class="ad-text">广告</p>
        </div>

        <div class="main">
            <div class="main-top">
                <!-- <div class="top-left fl">
                    计算机等级考试<br>
                    题库软件下载
                </div> -->
                <a href="http://www.bookask.com/topic/401.html" target="_blank" class="main-toplink"></a>
                <div class="top-right fr">
                    <!-- <div class="login-box">
                        <p class="login-tit">绑定账号</p>
                        <div class="input-box">
                            <input type="text" class="login-input" placeholder="账号">
                        </div>
                        <div class="input-box">
                            <input type="password" class="login-input" placeholder="密码">
                        </div>
                        <div class="btn-box">
                            <a href="" class="login-btn fl btn-left">注册</a>
                            <a href="" class="login-btn fr btn-right">登陆获取下载地址</a>
                            <div class="clear"></div>
                        </div>
                    </div> -->
                    <div class="qlogin">
                        <div class="qlogin-box">
                            <div class="qlogin-tit">登陆获取下载地址</div>
                            <div class="qlogin-btn fl">
                                <a href="http://www.izhixuetang.com/oauth/v2/authorize?client_id=dkIzhixue&response_type=code&redirect_uri=http://dk.izhixue.cn/signup/callback&scope=fulltrust&state=dkIzhixue&_target_type=qq" class="qlogin-link">
                                    <img src="/images/qq.png">
                                </a>
                                <a href="">QQ登陆</a>
                            </div>
                            <div class="qlogin-btn fr">
                                <a href="http://www.izhixuetang.com/oauth/v2/authorize?client_id=dkIzhixue&response_type=code&redirect_uri=http://dk.izhixue.cn/signup/callback&scope=fulltrust&state=dkIzhixue&_target_type=weixinweb" class="qlogin-link"> 
                                    <!-- <a href="http://www.izhixuetang.com/oauth/v2/authorize?client_id=dkLocal&response_type=code&redirect_uri=http://dk.izhixue.cn:3000/signup/callback&scope=fulltrust&state=dkLocal&_target_type=weixinweb" class="qlogin-link">-->
                                    <img src="/images/weixin.png">
                                </a>
                                <a href="">微信登陆</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <!-- <div class="x-line"></div> -->

            <div class="ad-box">
                <a href="http://www.izhixuetang.com/course/explore/130404_Photography" target="_blank" class="ad fl">
                    <img src="/images/ad1.jpg">
                    <p class="ad-text">广告</p>
                </a>
                <a href="http://www.izhixuetang.com/course/235" target="_blank" class="ad fr">
                    <img src="/images/ad2.jpg">
                    <p class="ad-text">广告</p>
                </a>
                <div class="clear"></div>
            </div>

            <div class="x-line"></div>

            <div class="foot">
                Copyright © 清华大学出版社
            </div>

        </div>
    </div>
</body>
<script>
jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,interTime:5000});
</script>
</html>