<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>计算机等级考试题库软件</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/demo/jquery-tcc-20150514/css/modal.css" />
    <script type="text/javascript" src="http://www.jq22.com/demo/jquery-tcc-20150514/js/modal.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8c7b8f9bbe0846adac18dba564196ad4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div class="wrap">
        <div class="head">
            <div class="head-box fl">
                <a href="/">
                    <img src="/images/logo.png">
                </a>
                <span></span>
            </div>
            <div class="fl head-tit">计算机等级考试题库软件</div>
        </div>

        <div id="slideBox" class="slideBox">
            <div class="hd">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <!-- <li><a href="http://www.bookask.com/topic/401.html" target="_blank"><img src="images/432.jpg" /></a></li> -->
                    <li>
                        <a href="http://www.izhixuetang.com/course/explore/practical_training?filter%5Btype%5D=all&filter%5Bprice%5D=all&filter%5BcurrentLevelId%5D=all&orderBy=recommendedSeq"
                            target="_blank">
                            <img src="images/toutu1.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://detail.tmall.com/item.htm?spm=a1z10.3-b-s.w4011-16232114860.12.26057abeAdnXk6&id=548621738316&rn=807552ed3bf87679de0b1196df7fc0cd&abbucket=19"
                            target="_blank">
                            <img src="images/toutu2.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.izhixuetang.com/open/course/2" target="_blank">
                            <img src="images/toutu3.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="down">
            <h3 class="dl-tit">下载链接</h3>
            <!-- <div class="dl-top">
                <div class="fl">您现在的位置 -  二级MS软件下载</div>
                <div class="fr">电脑软件，请选择较快的下载方式（ 版本是一样的 ）</div>
                <div class="clear"></div>
            </div> -->
            <div class="x-line"></div>
            <ul class="dl-list">
                <li>
                    <div class="list-item">
                        <div class="list-left fl">
                            <span>MS Office 模块</span>
                        </div>
                        <div class="list-right fr">
                            <a href="/files/msxp" class="list-btn">立即下载(Win XP)</a>
                            <a href="/files/mswin" class="list-btn">立即下载(Win 7以上)</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="x-line"></div>
                </li>
                <li>
                    <div class="list-item">
                        <div class="list-left fl">
                            <span>C语言模块</span>
                        </div>
                        <div class="list-right fr">
                            <a href="/files/cxp" class="list-btn">立即下载(Win XP)</a>
                            <a href="/files/cwin" class="list-btn">立即下载(Win 7以上)</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="x-line"></div>
                </li>
                <li>
                    <div class="list-item">
                        <div class="list-left fl">
                            <span>使用说明</span>
                        </div>
                        <div class="list-right fr">
                            <a href="http://www.izhixuetang.com/course/454/lesson/list" target="_blank" class="list-btn2">题库使用说明视频</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="x-line"></div>
                </li>
            </ul>
            <!-- <div>
                <h3 class="dl-tit">软件说明视频</h3>
                <ul class="dl-list">
                    <li>
                        <div class="">
                            <div class="list-right2 fr">
                                <a id="add-key1" href="#" class="list-btn2">Office2010安装说明</a>
                                <a id="add-key2" href="#" class="list-btn2">电脑软件使用说明</a>
                                <a id="add-key3" href="#" class="list-btn2">手机软件的使用说明</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="x-line"></div>
                    </li>
                </ul>
            </div> -->


            <div class="dl-link">
                <h3 class="dl-tit">
                    <span class="fl">其他相关软件下载</span>
                    <span class="fl">常见问题解答</span>
                    <div class="clear"></div>
                </h3>
                <div class="link-box">
                    <a target="_blank" href="http://www.chinahuben.com/z/down" class="link-other link fl">
                        <div class="link-item">
                            <img src="">http://www.chinahuben.com/z/down</div>
                    </a>
                    <a target="_blank" href="http://www.chinahuben.com/z/q" class="link-info link fr">
                        <div class="link-item">
                            <img src="">http://www.chinahuben.com/z/q</div>
                    </a>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="ad-box">
                <a href="http://www.izhixuetang.com/course/546" target="_blank" class="ad fr">
                    <img src="/images/ad4.png">
                </a>
                <a href="http://www.bookask.com/topic/397.html" target="_blank" class="ad fr">
                    <img src="/images/ad3.png">
                </a>
                <div class="clear"></div>
            </div>

            <div class="x-line" style="width:859px"></div>

            <div class="foot">
                Copyright © 清华大学出版社
            </div>

        </div>
    </div>
</body>
<script>
    jQuery(".slideBox").slide({ mainCell: ".bd ul", autoPlay: true, interTime: 5000 });
    $("#add-key1").click(function () {
        $("#add-key1").createModal({
            background: "#000",//设定弹窗之后的覆盖层的颜色
            width: "804px",//设定弹窗的宽度
            height: "484px",//设定弹窗的高度
            resizable: true,//设定弹窗是否可以拖动改变大小
            bgClose: true,
            html: "<embed src='http://yuntv.letv.com/bcloud.swf' allowFullScreen='true' quality='high' align='middle' allowScriptAccess='always' width='800' height='480' flashvars='uu=066ccb050a&vu=0b8731e6b6&pu=c9b6933859&auto_play=0&gpcflag=1&width=800&height=480&lang=zh_CN' type='application/x-shockwave-flash'></embed>"
        });
    });
    $("#add-key2").click(function () {
        $("#add-key2").createModal({
            background: "#000",//设定弹窗之后的覆盖层的颜色
            width: "804px",//设定弹窗的宽度
            height: "484px",//设定弹窗的高度
            resizable: true,//设定弹窗是否可以拖动改变大小
            bgClose: true,
            html: "<embed src='http://yuntv.letv.com/bcloud.swf' allowFullScreen='true' quality='high' align='middle' allowScriptAccess='always' width='800' height='480' flashvars='uu=066ccb050a&vu=8ab589f661&pu=c9b6933859&auto_play=0&gpcflag=1&width=800&height=480&lang=zh_CN' type='application/x-shockwave-flash'></embed>"
        });
    });
    $("#add-key3").click(function () {
        $("#add-key3").createModal({
            background: "#000",//设定弹窗之后的覆盖层的颜色
            width: "804px",//设定弹窗的宽度
            height: "484px",//设定弹窗的高度
            resizable: true,//设定弹窗是否可以拖动改变大小
            bgClose: true,
            html: "<embed src='http://yuntv.letv.com/bcloud.swf' allowFullScreen='true' quality='high' align='middle' allowScriptAccess='always' width='800' height='480' flashvars='uu=066ccb050a&vu=e13b78cbd0&pu=c9b6933859&auto_play=0&gpcflag=1&width=800&height=480&lang=zh_CN' type='application/x-shockwave-flash'></embed>"
        });
    });
</script>

</html>