html {
	background-color: #fff;
}
body {
	background-color: #fff;
    font-family: '微软雅黑','PingFang SC','Droidsansfallback',"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html,body {
	height: 100%;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.wrap {
	width: 948px;
	margin: 0 auto;
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	min-height: 100%;
	/*padding-top: 9px;*/
}
.head {
	height: 75px;
	line-height: 75px;
	color: #000;
	font-size: 24px;
}
.head-box {
	padding-top: 14px;
	padding-left: 36px;
	margin-right: 14px;
	/*padding-right: 16px;*/
	line-height: 1;
	height: 75px;
	position: relative;
}
.head-box span {
	position: absolute;
	width: 1px;
	background-color: #000;
	top: 23px;
	bottom: 18px;
	right: 0;
}
.head-tit{
	font-weight: bold;
}
/*轮播*/
.slideBox{
	width:946px;
	height:246px;
	overflow:hidden;
	position:relative;
	border:1px solid #9B9B9B;
	background-color: #9B9B9B;
	margin: 0 auto;
	/*margin-bottom: 8px;*/
}
.slideBox .hd{
	height:15px;
	overflow:hidden;
	position:absolute;
	right:0;
	left: 0;
	bottom:16px;
	z-index:1;
	text-align: center;
}
.slideBox .hd ul{
	overflow:hidden;
	zoom:1;
	display: inline-block;
}
.slideBox .hd ul li{
	float:left;
	margin:0 3px;
	width:8px;
	height:8px;
	line-height:8px;
	border-radius: 100%;
	background:#000;
	cursor:pointer;
}
.slideBox .hd ul li.on{
	background:#000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.slideBox .bd{
	position:relative;
	height:100%;
	z-index:0;
}
.slideBox .bd li{
	zoom:1;
	vertical-align:middle;
}
.slideBox .bd img{
	width:946px;
	height:246px;
	display:block;
}

.main {
	/*width: 854px;
	margin: 0 auto;*/
	/*background-color: #B8E986;*/
}
.main-top {
	/*padding-top: 42px;
	padding-bottom: 49px;*/
	height: 300px;
	/*background-color: #68BEF8;*/
	position: relative;
	background-image: url(../images/432.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.main-toplink {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.top-left {
	padding-left: 63px;
	padding-top: 81px;
	font-size: 36px;
	color: #fff;
    font-weight: bold;
}
.top-right {
	/*padding-top: 28px;*/
	position: absolute;
	right: 42px;
	top: 42px;
	z-index: 2;
}
.login-box {
	width: 375px;
	height: 245px;
	background-color: #2160AA;
}
.login-tit {
	font-size: 20px;
	color: #fff;
	padding-top: 17px;
	padding-bottom: 13px;
	padding-left: 15px;
}
.input-box {
	padding-left: 15px;
	padding-bottom: 8px;
}
.input-box .login-input {
	box-sizing: content-box;
	width: 330px;
	height: 26px;
	border-radius: 0;
	font-size: 18px;
	padding: 8px;
	background-color: #fff;
	border: 0px solid #979797;
}
.btn-box {
	padding-left: 15px;
	padding-right: 14px;
}
.login-btn {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #fff;
	height: 42px;
	line-height: 42px;
	border-radius: 8px;
}
.btn-left {
	width: 155px;
	background-color: #7ED321;
}
.btn-right {
	width: 183px;
	background-color: #68BEF8;
}
.x-line {
	height: 1px;
	/*background-color: #B8E986;*/
	width: 859px;
	margin: 0 auto;
	border-bottom: 1px dashed #000;
}

.ad-box {
	padding: 148px 47px 17px 45px;
}
.ad {
	height: 240px;
	width: 420px;
	background-color: #F9F7F7;
	border: 1px solid #9b9b9b;
	position: relative;
}
.ad-text {
	position: absolute;
	font-size: 13px;
	color: 000;
	bottom: 12px;
	right: 15px;
	z-index: 2;
}
.ad img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.foot {
	color: #9B9B9B;
	font-size: 18px;
	height: 53px;
	text-align: center;
	line-height: 53px;
}

/*下载*/
.down {
	margin: 0 auto;
	width: 854px;
	padding-top: 14px;
}
.dl-tit {
	font-size: 24px;
	color: #4A90E2;
	font-weight: bold;
	padding-bottom: 16px;
	/*border-bottom: 1px solid #000;*/
}
.down .x-line {
	width: 854px;
	background-color: #fff;
	border-color: #000;
}
.dl-top {
	padding-top: 7px;
	padding-bottom: 10px;
	font-size: 13px;
}
.dl-top .fl {
	color: #000;
}
.dl-top .fr {
	color: #9B9B9B;
}
.dl-list {
	padding-bottom: 20px;
}
.dl-list li {
	display: block;
}
.list-item {
	height: 118px;
}
.list-left {
	color: #4A4A4A;
	font-size: 24px;
	line-height: 118px;
}
.list-right {
    position: relative;
    width: 50%;
    height: 100%;
}
.list-right2 {
    position: relative;
    height: 100%;
}
.list-btn {
	display: inline-block;
	width: 180px;
	height: 42px;
	line-height: 42px;
	background-color: #FF001F;
	color: #fff;
	font-size: 18px;
	border-radius: 8px;
	text-align: center;
	margin-top: 38px;
	float: right;
	margin-right: 20px;
    /*position: absolute;
    top: 0;
    right: 61px;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 0;*/
}
.list-btn2 {
	display: inline-block;
	width: 180px;
	height: 42px;
	line-height: 42px;
	background-color: #00a1ff;
	color: #fff;
	font-size: 18px;
	border-radius: 8px;
	text-align: center;
	margin-top: 40px;
	float: right;
	margin-right: 20px;
    /*position: absolute;
    top: 0;
    right: 61px;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 0;*/
}
.dl-link .dl-tit {
	/*border-bottom-style: dashed;*/
	padding-bottom: 14px;
}
.dl-link .dl-tit span {
	display: inline-block;
	width: 50%;
}
.dl-link {
	margin-bottom: 18px;
}
.down .ad-box {
	width: 854px;
	padding: 0;
	padding-bottom: 12px;
}
.down .ad-box .ad {
	width: 420px;
}
.link {
	width: 420px;
	border: 1px dashed #9B9B9B;
	background-color: #FFFBE5;
	height: 45px;
	line-height: 45px;
	color: #356EB0;
	font-size: 18px;
	/*border-top: none;*/
}
.link-item {
	padding-left: 24px;
}
.link-item img {
	margin-right: 19px;
}
.ad .ad-v {
	width: 100%;
	height: 100%;
}

.qlogin {
	width: 300px;
	height: 220px;
	border-radius: 8px;
	background-color: #fff;
}
.qlogin-box {
	padding-left: 30px;
	padding-right: 30px;
}
.qlogin-tit {
	color: rgb(245, 12, 12);
	font-size: 20px;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 20px;
	font-weight: bold;
}
.qlogin-btn {
	width: 82px;
	color: #4A4A4A;
	font-size: 14px;
	text-align: center;
}
.qlogin-link {
	display: block;
	width: 82px;
	height: 82px;
	margin-bottom: 13px;
}
.qlogin-link img {
	width: 100%;
	vertical-align: top;
}
.qlogin-btn a {
	color: #4A4A4A;
}